body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
}

/* CENTER EVERYTHING */
.center-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */
.form-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* INPUTS */
.form-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
.form-box button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* CARDS */
.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}